params {
    genomes {
        hg38 {
            ref = "${launchDir}/data/Homo_sapiens_assembly38.fasta"
            reads = null
            outdir = "${launchDir}/results/"
            dict = "${launchDir}/data/Homo_sapiens_assembly38.dict"
            fasta_index = "${launchDir}/data/Homo_sapiens_assembly38.fasta.fai"
            site = "${launchDir}/data/Homo_sapiens_assembly38.known_indels.vcf.gz"
            site_idx = "${launchDir}/data/Homo_sapiens_assembly38.known_indels.vcf.gz.tbi"
            dbsnp = "${launchDir}/data/Homo_sapiens_assembly38.dbsnp138.vcf"
            dbsnp_idx = "${launchDir}/data/Homo_sapiens_assembly38.dbsnp138.vcf.idx"
            thousandG = "${launchDir}/data/1000G_phase1.snps.high_confidence.hg38.vcf.gz"
            thousandG_idx = "${launchDir}/data/1000G_phase1.snps.high_confidence.hg38.vcf.gz.tbi"
            hapmap = "${launchDir}/data/hapmap_3.3.hg38.vcf.gz"
            hapmap_idx = "${launchDir}/data/hapmap_3.3.hg38.vcf.gz.tbi"
            omni = "${launchDir}/data/1000G_omni2.5.hg38.vcf.gz"
            omni_idx = "${launchDir}/data/1000G_omni2.5.hg38.vcf.gz.tbi"
            interval = "${launchDir}/data/wgs_calling_regions.hg38.interval_list"
            indel = "${launchDir}/data/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz"
            indel_idx = "${launchDir}/data/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz.tbi"
            vc_tools = "haplotypecaller,deepvariant,freebayes"
            ann_tools = "snpeff,vep"
            step = "preprocessing,variant_calling,annotate"
            bam_file = null
            bam_file_idx = null
            snpeff_db = "GRCh38.105"
            vep_cache_version = '110'
            vep_genome = 'GRCh38'
            vep_species = 'homo_sapiens'
            vcf = null
            vcf_idx = null
           
        }
    }
}


